<!DOCTYPE html>
<html>
<head>
	<title>Donation Login Form</title>
	<link rel="stylesheet" type="text/css" href="/css/login_style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="alert alert-warning" id="showw" role="alert" style="font-size: x-large;">
      </div>
      <script>
        var decodedJsonw = decodeURIComponent("{{{encodedJsonw}}}");
        if(decodedJsonw===''){
          document.getElementById('showw').style.display = 'none';
        }
        else{
          document.getElementById('showw').innerHTML = `<strong> WARNING!:  </strong> ${decodedJsonw}`;
		  setTimeout(()=>{
            document.getElementById('showw').style.display = 'none';
          },5000)
        }
      </script>
	<div class="container">
		<div class="login-content">
			<a href="/index" class="close_login">&#8249;</a>
			<form action="/dusers/login" method="POST">
				<img src="/images/charity-removebg-preview.png">
				<h2 class="title">Welcome to login page</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email Address</h5>
           		   		<input type="email" name="email" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/login_main.js"></script>
</body>
</html>
